/*
TemplatName : feelit
author: nsstheme
*/
/*tailwind propertise*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body {
  @apply text-base font-normal;
}
h2 {
  @apply uppercase text-2xl sm:text-3xl md:text-4xl font-bold;
}
/* Custom scrollbar */
body {
  --sb-track-color: #090e38;
  --sb-thumb-color: #707281;
  --sb-size: 12px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}
body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

