/*
TemplatName : feeilt
author: nsstheme
*/

/* Slide in and Fadein Animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
/* Mobile menu overly */
.backdrop {
  position: absolute;
  inset: 0;
  z-index: 100;
  @apply bg-rose bg-opacity-50;
  backdrop-filter: blur(3px);
  animation: fadeIn 850ms cubic-bezier(0.14, 0.78, 0.36, 1);
}

/* Mobile menu container */
.drawer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  /* padding: 32px; */
  z-index: 200;
  animation: slideIn 500ms cubic-bezier(0.14, 0.78, 0.36, 1);
}

.drawer-content {
  /* display: flex;
  flex-direction: column;
  height: 100%; */
  background: white;
  padding: 2rem;
}
